/**********************************
General
**********************************/

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

#wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
}

#logo  {
    text-align: center;
}

img {
    max-width: 100%;
}

h3 {
    font-family: 'Oswald', sans-serif;
    margin: 15px 0;
    font-size: 1.75em; 
}
/**********************************
Header
**********************************/


h1  {
    font-family: 'Oswald', sans-serif;
    margin: 0px 0;
    font-size: 1.75em;
}

h2 {    
    margin: 0 0 1em 0;
    font-size: 0.75em;
    font-weight: normal;
    font-family: 'Oswald', sans-serif;
}

/**********************************
Page Portfolio
**********************************/

#gallery {
    margin: 0px;
    padding: 0px;
    list-style: none;
    
}

#gallery li {
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: #FFF;
    color: #FFF;
}

#gallery li a p {
    margin: 0;
    padding: 5%;
    font-size: 0.75em;
    color: #000;
    
}
/**********************************
Navigation
**********************************/
nav {
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
}

nav ul {
    list-style: none;
    padding: 10px 0;
    margin: 0 10px;
    font-family: 'Oswald', sans-serif;
}

nav li {
    display: inline-block;
}

nav a {
    font-weight: 800;
    padding: 15px 10px;
}
/**********************************
Footer
**********************************/
footer {
    font-size: 0.75px;
    text-align: center;
    padding-top: 50px;
    color: #000;
    clear: both;
}

.social-media-icon {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    
}

footer p {
    font-size: 12px;
}
/**********************************
About Page
**********************************/

.profile-photo {
    display: block;
    max-width: 0 auto 30px;
    border-radius: 100%;
}

/**********************************
Contact Page
**********************************/
contact-info {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
}

.contact-info a {
    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
}

.contact-info li.mail a {
    background-image: url('../img/mail.png');
}    

.contact-info li.twitter a {
    background-image: url('../img/twitter.png');
}    
/**********************************
COLORS
**********************************/

h1{
    color: darkgrey;
}

a {
    color: #636363;
}

header {
    background: #C6CACC;
}

h1, h2 {
    color: #000;
}

nav {
    background: #636363;
}

nav a, nav a:visited {
    color: #000;
}

nav a.selected, nav a:hover  {
    color: #C6CACC;
}
/**********************************
MEDIA QUARIES
**********************************/

@media screen and (min-width: 480px) {
    /*Contact page*/
    #primary {
        width: 50%;
        float: left;
    }
    
    #secondary {
        width: 40%;
        float: right;
    }
    
    #gallery  li {
        width: 28.3333%
    }
    /*About page*/
    .profile-photo {
        float: left;
        margin: 0 5% 80px 0;
    }
}

@media screen and (min-width: 600px) {
    /*NAV*/
    nav {
        text-align: right;
    }
    
    #logo {
        text-align: center;
        font-size: 1.5em;
        padding-bottom: 20px;
    }
}